body {
    margin: 0;
    color: #000;
    background-color: #000;
}

@font-face {
    font-family: "JackCondensed";
    src: url(resource/basic/font/JackCondensed.woff);
}

@font-face {
    font-family: "JackCondensedItalic";
    src: url(resource/basic/font/JackCondensedItalic.woff);
    font-style: italic;
}

@font-face {
    font-family: "JackCondensedPhat";
    src: url(resource/basic/font/JackCondensedPhat.woff);
}

@font-face {
    font-family: "JackCondensedPhat";
    src: url(resource/basic/font/JackCondensedPhatItalic.woff);
    font-style: italic;
}

@font-face {
    font-family: "JackExtraCond";
    src: url(resource/basic/font/JackExtraCond.woff);
}

@font-face {
    font-family: "JackExtraCondPhat";
    src: url(resource/basic/font/JackExtraCondPhat.woff);
}

@font-face {
    font-family: "JackRoman";
    src: url(resource/basic/font/JackRoman.woff);
}

@font-face {
    font-family: "JackRomanPhat";
    src: url(resource/basic/font/JackRomanPhat.woff);
}

.wrapper {
    position: fixed;
    width: 1280px;
    height: 720px;
    background-color: #fff5;
    overflow: hidden;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.video-wrapper>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.opening-egg {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 700px;
}

.opening-egg-sponsor {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.opening-egg-back-1, .opening-egg-back-2 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.opening-egg-back-1 {
    background-image: url(../../image/egg.svg);
}

.opening-egg-back-2 {
    background-image: url(../../image/eggLogo.svg);
    opacity: 0;
}

.prize-image {
    width: 500px;
    height: 500px;
    background-position: 0 0;
}